.topDiv{
    height: 30px;
    width: 100%;
    font-size: 23px;
    font-style:  rgb(255, 255, 255);
    background-color: rgb(49, 45, 38);
    color: aliceblue;
    justify-content: center;
    text-align: center;
}
.bg-body-tertiary{
    height: 75px;
    background-color: gainsboro;
    align-items: center;
}
.howIt{
    float: left;
       
}
.howItWork{
    color: rgb(208, 13, 13);
    font-size: 50px;

}
.howDiv{
   margin-top: -1%;
   width: 40%;
   margin-left: 33.25%;
   
}
.review{
    text-align: center;
    justify-content: center;
    margin-top: 2%;
}
.delivery{
    
    height: 150px;
    width: 25%;
    display: flex;
    justify-content: center;
}
.deldescription{
    height: 60px;
    text-align: center;
}
.Shop{
    margin-left: 35%;
    width: 60%;
}
.buyNow{
    height: 100px;
    width: 28%;
    height: 500px;
    margin-left: 1%;
    color: white;
    padding-left: 5%;
    border: 1px groove white;
    border-radius: 20px;
}
.myBtn {
    background-color: #eee;
    border: none;
    padding: 1%;
    font-size: 20px;
    width: 35%;
    height: 40px;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin-left: 16%;
   }
   
   .myBtn:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   .myBtn:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   .myBtn:disabled {
    cursor: auto;
    color: grey;
   }
   .bestSellers{
    height: 650px;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    padding: 1%;
   }    
   .bestSell{
   
    width: 48%;
    height: 600px;
   }
   .Sell{
    margin-left: 35%;
}
.orderBtn{
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    width: 50%;
    left: 20%;
    top: 5%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #df1515;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #df1515;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #df1515;
} 
  .orderBtn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #df1515;
}
  .orderBtn:active {
    transform: scale(0.9);
}
.fpimg{
  height:60%; 
  width:100%;
}
.FeatureProduct{

height: 400px;
width: 90%;
margin-left: 5%;
padding: 1%;
}
.FeatureProducts{

height: 350px;
width: 23%;
margin-left: 1%;
}
.description{
    height: auto;
    width: 90%;
    margin: 2%;
}
.descriptionText{
    text-align: justify;
    color: #155e11;
}
.deliver{ 
    width:90%; 
    height:auto;
    margin-left: 3%;
}
.options{
    height: 75px;
    width: 30%;
    border:1px solid rgb(35, 21, 67);
    margin-left: 2%;
    padding-top: 0.5%;
    padding-left: 3%;
}
.logos{
    border: 1px solid rgb(35, 21, 67);
    background-color:  rgb(35, 21, 67);
    width: 20%;
    height: 60px;
    border-radius: 70px;
}
.line{
    border: 2px solid brown;
    width: 39%;
    height: 2px;
    margin-top: 3%;
}
.myFoot{
    height: auto;
    width: 90%;
    margin-left: 5%;
}
.popup {
    position: relative;
    width: 50%;
    height: 350px;
    left: 25%;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    border: 1px solid #5F5D6B;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #ECF1FD;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
  }
  
  .note {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #2B2B2F;
  }
  
  .subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #5F5D6B;
  }
  
  .input_field {
    width: 75%;
    height: 42px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 1px #2B2B2F;
    background-color: transparent;
  }
  
  .form button.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    margin-left: 1%;
    gap: 10px;
    width: 24%;
    height: 42px;
    background: linear-gradient(180deg, #061846 0%, #061846 50%, #061846 100%);
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;
    color: #ffffff;
  }
  .finalFoot{
    width: 75%;
    margin-left: 15%;
    height: auto;
  }
  .policies{
    height: 200px;
    width: 30%;
    margin-left: 3%;
    padding: 1%;
  }
  .payments{
    height: 200px;
    width: 40%;
    margin-left: 1%;
    padding-top: 2%;
  }
  .contact{
    height: 200px;
    width: 20%;
    margin-left: 1%;
    padding: 2%;
    padding-top: 3%;
    font-size: 40px;
    color: #0b17c2; 
  }
  .policyLink{
    font-size: large;
    font-weight: bold;
    margin-top: 10%;
  }
  .card {
    box-sizing: border-box;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    box-shadow: #0b17c2;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .seller {
    width: 48%;
    height: 600px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
   }
   .paging{
    display: flex;
    justify-content: center;
   }
   .paginate{
    color: #0b17c2;
    font-size: large;
    border: 1px groove white;
    border-radius: 10px;

   }