<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="./style/test.css" type="text/css">
<body>
    <div class="myTest"> 
        <div class="test" style="background-color: rgb(121, 133, 11);"> <h2>Box-1</h2></div>
        <div class="test" style="background-color: rgb(19, 49, 49);"><h2>Box-2</h2> </div>
        <div class="test" style="background-color: rgb(166, 13, 13);"><h2>Box-3</h2> </div>
        <div class="test" style="background-color: rgb(10, 113, 10);"><h2>Box-4</h2> </div>
        <div class="test" style="background-color: rgb(21, 136, 136);"><h2>Box-5</h2> </div>
        <div class="test" style="background-color: rgb(116, 13, 95);"><h2>Box-6</h2> </div>
        <div class="test" style="background-color: rgb(201, 215, 12);"><h2>Box-7</h2> </div>
        <div class="test" style="background-color: rgb(24, 13, 146);"><h2>Box-7</h2> </div>
    
    </div>
</body>
</html>